<nav
  class="navbar navbar-expand-lg navbar-dark bg-transparent navbar-expand-md"
  data-bs-theme="dark"
  [class.collapsed-background]="!isCollapsed"
  [class.nav-bckg-color]="currentRoute != '/'"
  [class.nav-bckg-transparent]="
    currentRoute.includes('articulo') || currentRoute === '/login'
  "
>
  <div class="container-fluid">
    <a
      class="navbar-brand"
      [class.navbar-brand-noshadow]="currentRoute === '/login'"
      href=""
    >
      <img
        [class.logo-collapsed]="!isCollapsed"
        src="assets/img/mental-b-logo-hor-white.png"
        alt="Logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed ? 'true' : 'false'"
      aria-controls="navbarNav2"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNav2"
      [class.show]="!isCollapsed"
      [class.collapsed]="!isCollapsed"
      [class.hide]="currentRoute === '/login'"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="secciones/tdah">TDAH</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Jóvenes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Padres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contactos</a>
        </li>
      </ul>
      <ul class="navbar-nav" style="align-self: flex-end">
        <li *ngIf="loggedIn" class="nav-item">
          <div class="">
            <!--<p>
              Hola,
              {{ userEmail?.split("@")[0] }}!
            </p>
            <button class="btn btn-link logout-btn" (click)="logout()">
              Salir
            </button>-->
            <div>
              <div
                class="d-md-flex justify-content-md-end buttton-collapse-container"
              >
                <button
                  type="button"
                  class="profile-btn"
                  (click)="collapse1.toggle()"
                  [attr.aria-expanded]="!isCollapsedProfile"
                  aria-controls="collapseExample1"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="38"
                    height="38"
                    fill="#1bb1c6"
                    class="bi bi-person-circle"
                    viewBox="0 0 16 16"
                  >
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path
                      fill-rule="evenodd"
                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                    />
                  </svg>
                </button>
              </div>
              <div class="profile-container">
                <div
                  #collapse1="ngbCollapse"
                  [(ngbCollapse)]="isCollapsedProfile"
                  [horizontal]="true"
                  style="max-width: 100%"
                >
                  <div class="profile-collapse" style="width: 100%">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="#1bb1c6"
                      class="bi bi-person-circle"
                      viewBox="0 0 16 16"
                    >
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                      <path
                        fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                      />
                    </svg>
                    <p class="profile-name">Ricardo Ramos</p>
                    <p>{{ userEmail }}</p>
                    <button class="btn logout-btn" (click)="logout()">
                      Salir
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li *ngIf="!loggedIn" class="nav-item">
          <a class="nav-link login-link" href="login">Acceder</a>
        </li>
        <li *ngIf="!loggedIn" class="nav-item">
          <a class="nav-link signup-link" href="signup">Crear cuenta gratis</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
