.hide {
  display: none !important;
}
.nav-bckg-color {
  background-color: #000142 !important;
}
.nav-bckg-transparent {
  background-color: transparent !important;
}
nav {
  z-index: 1000;
  padding: 2.5rem 3rem 1rem 1.5rem;
  flex-grow: 1;
}

nav a {
  font-size: 1.2rem;
  font-weight: 300;
}

.navbar-brand {
  padding: 1.5rem 1rem 1rem 1rem;
  margin-top: -3rem;
  margin-bottom: -2.5rem;
  margin-left: 1rem;
}
.navbar-brand-noshadow {
  box-shadow: none;
}
.navbar-brand img {
  height: 3.25rem;
}

.nav-item {
  padding: 0 1rem;
}

#navbarNav2 {
  justify-content: space-between !important;
}
.login-link,
.signup-link {
  border-radius: 30px;
  font-size: 0.95rem !important;
  padding: 0.5rem 1rem !important;
  color: #ffff;
  margin-bottom: 0.5rem;
}
.login-link {
  border: 2px solid #f57730;
  box-sizing: border-box;
}

.login-link:hover {
  filter: brightness(1.5);
  text-decoration: none;
}

.signup-link {
  background-color: #f57730;

  font-weight: 400 !important;
}

.signup-link:hover {
  filter: brightness(1.2);
  text-decoration: none;
}

.bienvenida {
  color: #1bb1c6;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.bienvenida button {
  margin-top: -1.25rem;
  padding: 0;
  color: #f57730;
  font-size: 15px;
}

.collapsed-background {
  background-color: #000142 !important;
}
.navbar-collapse.collapsed {
  padding: 1rem; /* Add padding */
}

.navbar-collapse.collapsed .navbar-nav .nav-link {
  margin: 1rem auto;
}
.profile-container {
  min-height: 1px;
  width: auto;
  position: absolute;
  z-index: 1000;
  right: 0.5rem;
  margin-top: 0.5rem;
}
.profile-collapse {
  background-color: #fff;
  padding: 0.65rem;
  border-radius: 10px;
  box-shadow: 7px 15px 15px -4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 7px 15px 15px -4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 7px 15px 15px -4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem;
}
.profile-collapse svg {
  width: 3.75rem;
  margin-bottom: 0.5rem;
  background-color: #cefdfe;
  border-radius: 50%;
}
.profile-collapse p {
  font-weight: 300;
  text-align: center;
  color: #707070;
}
.profile-name {
  font-size: 1.5rem !important;
  margin-bottom: -0.35rem !important;
  color: black !important;
}
.profile-collapse p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.logout-btn {
  color: #f57730;
  border-radius: 20px;
  border: 2px solid #f57730;
  padding: 0.25rem 1rem;
  margin-top: 2rem;
}

.logout-btn:hover {
  background-color: #f57730;
  color: #ffff;
}
.profile-btn {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  text-decoration: none;
}

@media (max-width: 1200px) {
  nav {
    padding: 1rem 3rem 1rem 1.5rem;
  }
  #navbarNav2 {
    flex-direction: column !important;
    align-items: flex-end;
  }
}

@media (max-width: 767.98px) {
  nav {
    padding: 2rem 0.75rem;
    margin-top: 0;
  }

  nav a {
    padding: 0;
    margin: 0;
  }
  .navbar-brand {
    background: none;
  }
}

@media (max-width: 576px) {
  .navbar-brand img {
    height: 2.5rem;
  }
}
