<section class="article-main-container">
  <ng-container *ngIf="articulo">
    <div
      class="art-image"
      [style.background-image]="
        imagenPortada
          ? 'linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(' +
            imagenPortada +
            ')'
          : 'linear-gradient(180deg, rgba(0, 2, 61), rgba(27, 30, 110))'
      "
    ></div>
    <div class="grid">
      <div class="g-col-12">
        <h1 data-aos="fade-left" data-aos-duration="800">
          {{ articulo.titulo }}
        </h1>
      </div>

      <div class="g-col-12 g-col-lg-8">
        <div
          class="articulo-contenido-container"
          [innerHTML]="articulo.contenido | safeHtml"
        ></div>
      </div>

      <div class="g-col-12 g-col-lg-4">
        <div
          data-aos="fade-up"
          data-aos-duration="800"
          class="recursos-container"
        >
          <h5>Recursos</h5>
          <hr />
          <ng-container *ngIf="articulo.documentos">
            <div class="recurso-item-container">
              <div *ngFor="let documento of articulo.documentos; let i = index">
                <a
                  class="recurso-item"
                  href="{{ documento.urlDoc }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <div class="recurso-icon">
                    <img
                      *ngIf="documento.fileType.includes('pdf')"
                      src="./assets/img/pdf.png"
                    />
                  </div>
                  <p>{{ documento.fileName.split(".")[0] }}</p>
                </a>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</section>
