.art-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 16rem;
  display: flex;
  align-items: flex-end;
}

img{
  width: 100%;
}

h1 {
  position: relative;
  z-index: 1;
  color: #ffff;
  font-size: 2.5rem;
  margin-top: -8rem;
  width: 100%;
 
}

.recursos-container{
  margin-top: .5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.2);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 2rem;
}

.recursos-container h5{
  padding: 1rem 1rem .25rem 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.recursos-container hr{
  border-top: 1px solid #808080; width: 100%;
}

.recurso-icon{
  width: 60px;
  box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.2);
  padding: .75rem;
  border-radius: 50%;
}

.recursos-container p{
  text-transform: capitalize !important;
  font-size: 1rem;
  font-weight: 400;
}
.recurso-item-container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-content: center;
  justify-content: center;
}
.recurso-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}



@media (max-width: 1450px) {
  h1{
    font-size: 1.75rem;
  }
  .art-image {
    height: 15rem;
  }
  .articulo-contenido-container{
    margin-top: auto;
  }

}

@media (max-width: 991.98px) 
{ .recursos-container{
  position: -webkit-sticky; /* Safari */
  position:relative ;
  top: auto;
} }

@media (max-width: 576px) {
  h1{
    font-size: 1.75rem;
    margin-top: -6.5rem;
    margin-bottom: 5rem;
   }
   .article-main-container{
    margin-top: 7.5rem !important;
   }
   .articulo-contenido-container{
    padding: 4rem 1rem 1rem 1rem !important;
   }
}