<div class="full-screen-container">
  <div
    class="login-container"
    style="
      background-image: url('./assets/img/login-bckg.jpg');
      background-size: cover;
    "
  >
    <div data-aos="fade-down" data-aos-duration="600" class="ingresa-container">
      <h1>Ingresa</h1>
      <p>para seguir disfrutando el contenido.</p>
      <div class="login-form-container">
        <div>
          <label for="exampleFormControlInput1" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            [(ngModel)]="email"
          />
        </div>

        <div>
          <label for="inputPassword5" class="form-label">Password</label>
          <input
            type="password"
            id="inputPassword5"
            class="form-control"
            aria-labelledby="passwordHelpBlock"
            [(ngModel)]="password"
          />
        </div>
      </div>
      <div class="botones-container">
        <button
          type="button"
          class="btn btn-primary btn-md ingresa-button"
          (click)="login()"
        >
          Ingresar
        </button>

        <button
          type="button"
          class="btn btn-outline-secondary google-btn"
          (click)="loginGoogle()"
        >
          <div>
            <img
              width="16"
              alt='Google "G" Logo'
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
            />
            Usar Google
          </div>
        </button>
      </div>
      <p class="no-cuenta">
        ¿No tienes cuenta?<span
          ><button
            type="button"
            class="btn btn-link"
            routerLink="/signup"
            [queryParams]="{ returnUrl: returnUrl }"
          >
            Crea una cuenta gratis
          </button></span
        >
      </p>

      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="errorMessage"
        [innerHtml]="errorMessage"
      ></div>
    </div>
  </div>
</div>
