.full-screen-container {
  height: 100vh; /* 100% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  margin-bottom: 3rem;
  font-size: 2rem;
}
.login-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin: 0;
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: #f1f1f1;
}
.ingresa-container {
  display: flex;
  margin: auto;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px -1px 36px 13px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px -1px 36px 13px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px -1px 36px 13px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: auto;
  padding: 5rem;
  max-width: 35rem;
  background-color: #ffff;
}

.ingresa-container h1 {
  font-weight: 500;
  margin-bottom: 1rem;
}
.ingresa-button {
  background-color: #f57730;
  border: none;
}
.ingresa-button:hover {
  filter: brightness(1.2);
}
.no-cuenta {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
}
.no-cuenta-container {
  flex-grow: 2;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dce1ec;
  padding: 3rem;
  margin-bottom: -1.5rem;
}
.no-cuenta-container button {
  font-size: 1.1rem;
  padding: 0;
  margin-bottom: 0.15rem;
}
.no-cuenta-container img {
  width: 150px;
  margin-bottom: 2rem;
  margin-top: -2rem;
}

.login-form-container {
  display: flex;
  flex-direction: column;
}

.google-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-around;
}

.google-btn img {
  margin-right: 0.25rem;
}

.botones-container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  height: 45px;
  margin-top: 1.5rem;
}

.botones-container > * {
  flex-grow: 1;
  flex-basis: 50%;
}

@media (max-width: 1640px) {
  .login-container {
    height: auto;
  }
  .ingresa-container {
    margin: 2rem;
  }
}

@media (max-width: 991.98px) {
  .login-container {
    flex-direction: column;
    margin: auto;
  }
  .botones-container {
    flex-wrap: wrap;
    margin: 1rem 0;
    height: auto;
  }
  .ingresa-container {
    flex-grow: 0.05;
    margin: 1rem;
    padding: 2rem;
  }
}

@media (max-width: 576px) {
  p {
    width: 100%;
    font-size: 1rem;
  }
  .ingresa-container {
    margin-top: 5rem !important;
  }
}
