<section class="grid">
  <div class="g-col-1 g-col-lg-2"></div>
  <div class="g-lg-col-8 g-col-md-8 g-col-sm-12 supporting-section-container">
    <div class="description-container">
      <h2>{{ title }}</h2>
      <p>
        {{ description }}
        <br /><button
          type="button"
          class="btn btn-link"
          (click)="navigateToArticle(articuloID)"
        >
          Seguir leyendo...
        </button>
      </p>
    </div>
    <div class="img-container">
      <img src="{{ backgroundImageUrl }}" />
    </div>
  </div>
  <div class="g-col-1 g-col-lg-2"></div>
</section>
