<div class="contactos-main-container">
  <div class="contactos-header">
    <div class="title-container">
      <h1>Contactos</h1>
    </div>
    <div class="contactos-image-header-container grid">
      <div class="contactos-header-title-container g-col-lg-8 g-start-3">
        <h2>
          "La comunicación es el primer paso hacia la comprensión y el apoyo;
          inicia tu camino hacia el bienestar aquí."
        </h2>
      </div>
    </div>
  </div>
  <div class="contactos-main grid">
    <p class="g-col-12 g-col-lg-9">
      Encuentra profesionales certificados, especialistas en el tratamiento del
      Transtorno del Déficit de Atención, cerca de ti.
    </p>
    <div class="contactos-cards-container g-col-12 grid">
      <div class="card-item g-col-12 g-col-md-6 g-col-lg-4">
        <app-card
          [center]="[20.70259027784144, -103.47285263761918]"
          [zoom]="15"
          nombre="John Doe"
          titulo="Especialista en TDA-H"
          telefono="1234567890"
          direccion="Cam. Arenero 1101, 45019 Zapopan, Jal."
        >
        </app-card>
      </div>
      <div class="card-item g-col-12 g-col-md-6 g-col-lg-4">
        <app-card
          [center]="[20.70259027784144, -103.47285263761918]"
          [zoom]="15"
          nombre="John Doe"
          titulo="Especialista en TDA-H"
          telefono="1234567890"
          direccion="Cam. Arenero 1101, 45019 Zapopan, Jal."
        >
        </app-card>
      </div>
      <div class="card-item g-col-12 g-col-md-6 g-col-lg-4">
        <app-card
          [center]="[20.70259027784144, -103.47285263761918]"
          [zoom]="15"
          nombre="John Doe"
          titulo="Especialista en TDA-H"
          telefono="1234567890"
          direccion="Cam. Arenero 1101, 45019 Zapopan, Jal."
        >
        </app-card>
      </div>
    </div>
  </div>
</div>
