.center-container {
  background: #ffff;
  padding: 0 5rem 8rem 5rem;
  min-height: 100%;
  padding-top: 6.35rem;
}

header {
  top: 0;
  position: absolute;
  display: flex;
  width: 100%;
}

.nav {
  align-self: flex-start;
  flex-grow: 1;
}

a {
  color: #6eaab7;
}

@media (max-width: 1199.98px) {
  .left-margin {
    display: none;
  }
}

@media (max-width: 768px) {
  .center-container {
    padding: 5.5rem 1rem;
  }
}
