<ng-container *ngIf="id === 'tdah'">
  <div class="secciones-main-container">
    <div class="secciones-header">
      <div class="title-container" [class.tdha-title-container]="id === 'tdah'">
        <h1>{{ contenidoTDAH.titulo }}</h1>
      </div>
      <div class="secciones-image-header-container">
        <div class="comunidad-title-container">
          <h4>{{ contenidoTDAH.subtitulo }}</h4>
          <h2>¿Qué debo saber sobre esta comunidad?</h2>
        </div>
      </div>
    </div>
    <div class="foro-container">
      <div class="foro-descripcion-container">
        <h4 class="foro-titulo">{{ contenidoTDAH.descripcionTitulo }}</h4>
        <div class="foro-descripcion">
          <div
            class="foro-img"
            [ngStyle]="{
              'background-image': 'url(' + contenidoTDAH.foroImg + ')'
            }"
          ></div>
          <div class="foro-descripcion-p-container">
            <p>{{ contenidoTDAH.descripcion }}</p>
          </div>
        </div>
        <div class="foro-btn-container">
          <button type="button" class="btn btn-primary foro-btn tdah-foro-btn">
            Ir al foro
          </button>
        </div>
      </div>
      <div id="listaArticulos" class="articulos-lista-container">
        <div class="lista-titulo lista-titulo-tdah"><p>Contenido</p></div>
        <div *ngFor="let tag of getUniqueTags()">
          <div>
            <p
              class="d-md-flex justify-content-md-end buttton-collapse-container"
            >
              <button
                type="button"
                class="btn btn-link contenido-item-title"
                (click)="toggleCollapse(tag)"
                [attr.aria-expanded]="!isCollapsed[tag]"
                [attr.aria-controls]="'collapseExample1-' + tag"
              >
                {{ tag }}
                <!-- Display the tag value as the category -->

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  [class.icon-rotate]="!isCollapsed[tag]"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                  />
                </svg>
              </button>
            </p>
            <div style="min-height: 1px">
              <div
                #collapse1="ngbCollapse"
                [ngbCollapse]="isCollapsed[tag]"
                [horizontal]="true"
                [attr.id]="'collapseExample1-' + tag"
                style="max-width: 100%"
              >
                <div style="width: 100%">
                  <div class="card-body">
                    <!-- Render the articles with the current tag -->
                    <div
                      *ngFor="let articulo of getArticulosByTag(tag)"
                      class="lista-item"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="14"
                        height="14"
                        fill="#42536a"
                        class="bi bi-bookmark"
                        viewBox="0 0 16 16"
                        style="padding-bottom: 0.15rem"
                      >
                        <path
                          d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"
                        />
                      </svg>
                      <a
                        class="btn-link"
                        (click)="navigateToArticle(articulo.id)"
                      >
                        {{ articulo.titulo }}
                        <!-- Display the value of the 'titulo' property as the title -->
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
