.secciones-header {
  margin: -0.5rem -5rem auto -5rem;
}
.title-container {
  padding: 3rem 5rem 1rem 5rem;
  color: #ffff;
}

.title-container h1 {
  color: #ffff;
  font-weight: 500;
}

.tdha-title-container {
  background-image: linear-gradient(
    to right,
    rgb(102, 11, 159) 0%,
    rgb(59, 4, 99) 100%
  );
}

.secciones-image-header-container img {
  height: fit-content;
}
.secciones-image-header-container {
  background-image: url("../../../assets/img/padres-secciones.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 32rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.comunidad-title-container {
  background-color: rgb(66, 83, 106);
  flex-basis: 50%;
  padding: 2rem;
}

.comunidad-title-container h4 {
  color: #ffff;
  font-weight: 300;
}

.comunidad-title-container h2 {
  color: #1bb1c6;
  font-weight: 400;
  margin-bottom: 2.5rem;
}
.foro-container {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  align-items: stretch;
  height: auto;
}
.foro-container > * {
  flex-grow: 1;
}
.foro-descripcion-container {
  display: flex;
  flex-basis: 70%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.foro-descripcion {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.foro-descripcion-p-container {
  flex-basis: 65%;
}
.foro-btn-container {
  flex-grow: 1;
  text-align: center;
}
.foro-btn {
  border: none;
  width: 210px;
  padding: 0.75rem;
}
.foro-btn:hover {
  filter: brightness(1.3);
}
.tdah-foro-btn {
  background-color: rgb(102, 11, 159);
}
.foro-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-basis: 35%;
}

.articulos-lista-container {
  flex-basis: 30%;
}
.icon-rotate {
  transform: rotate(-180deg);
}
.lista-titulo {
  padding: 0.45rem 1.75rem;
  margin: 0;
  color: #ffff;
  margin-top: -5.25rem;
  margin-bottom: 2rem;
  text-align: right;
  font-size: 1.15rem;
}

.lista-titulo p {
  margin: 0;
  font-weight: 300;
  font-size: 1.3rem;
}

.lista-item {
  margin-bottom: 0.75rem;
}

.lista-titulo-tdah {
  background-color: #460476;
}
.contenido-item-title {
  color: rgb(66, 70, 72);
}
.buttton-collapse-container {
  border-bottom: 1px solid rgb(220, 229, 233);
}
.buttton-collapse-container button {
  text-decoration: none;
}

@media (max-width: 991.98px) {
  .lista-titulo-tdah {
    background-color: #ffff;
    color: black;
    margin-bottom: 0;
    padding-left: 0.75rem;
  }
  .lista-titulo-tdah p {
    font-weight: 400;
    text-align: left;
    font-size: 1.5rem;
  }
  .secciones-header {
    margin: -1rem;
  }
  .comunidad-title-container {
    flex-grow: 1;
    padding: 2rem;
    flex-basis: 100%;
  }

  .foro-container,
  .foro-descripcion-container {
    flex-direction: column;

    height: auto;
  }
  .foro-descripcion-container {
    flex-basis: 100%;
  }
  .foro-img {
    height: 12rem;
    flex-basis: 50%;
  }

  .lista-titulo {
    margin-top: auto;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .foro-descripcion {
    display: block;
  }
  .foro-img {
    margin-bottom: 2rem;
  }
}
