<div class="destacados-container grid" id="destacados">
  <div class="g-col-lg-2 g-col-1"></div>
  <div class="g-col-lg-8 g-col-12">
    <h2 data-aos="fade-down" data-aos-duration="600">
      Contenido personalizado sobre el Transtorno de Déficit de Atención
    </h2>
    <p
      data-aos="fade-up"
      data-aos-duration="600"
      style="max-width: 50%; margin-top: 2rem"
    >
      Encuentra contenido profesional relacionado con el TDA-H. Participa en
      foros de discusión dentro de un espacio seguro, encontrarás personas con
      intereses afines a los tuyos.
    </p>
    <div class="grid secciones">
      <div class="secciones-container g-col-11 g-start-3">
        <div
          class="seccion-item tdah"
          data-aos="fade-right"
          data-aos-duration="600"
          (click)="navigateToSeccion('tdah')"
        >
          <div class="seccion-title-container"><h3>TDAH</h3></div>
        </div>
        <div
          class="seccion-item padres"
          data-aos="fade-right"
          data-aos-duration="600"
        >
          <div class="seccion-title-container"><h3>Padres</h3></div>
        </div>
        <div
          class="seccion-item hijos"
          data-aos="fade-right"
          data-aos-duration="600"
        >
          <div class="seccion-title-container"><h3>Jóvenes</h3></div>
        </div>
      </div>
    </div>
  </div>
</div>
