<div class="destacados-container grid" id="destacados">
  <div class="g-col-2"></div>
  <div class="g-col-8">
    <h2 data-aos="fade-up" data-aos-duration="600">Secciones destacadas</h2>
    <div class="grid secciones">
      <div
        class="secciones-container g-col-11 g-start-3"
        data-aos="fade-down"
        data-aos-duration="600"
      >
        <div class="seccion-item tdah">
          <div class="seccion-title-container"><h3>TDAH</h3></div>
        </div>
        <div class="seccion-item padres">
          <div class="seccion-title-container"><h3>Padres</h3></div>
        </div>
        <div class="seccion-item hijos">
          <div class="seccion-title-container"><h3>Jóvenes</h3></div>
        </div>
      </div>
    </div>
  </div>
</div>
