<div class="destacados-container grid" id="destacados">
  <div class="g-col-2"></div>
  <div class="g-col-8">
    <h2>Secciones destacadas</h2>
    <!--<div *ngFor="let articulo of articulos">
      <button
        type="button"
        class="btn btn-link"
        (click)="navigateToArticle(articulo.id)"
      >
        {{ articulo.titulo }}
      </button>
    </div>-->
    <div class="grid secciones">
      <div class="secciones-container g-col-11 g-start-3">
        <div class="seccion-item tdah">
          <div class="seccion-title-container"><h3>TDAH</h3></div>
        </div>
        <div class="seccion-item padres">
          <div class="seccion-title-container"><h3>Padres</h3></div>
        </div>
        <div class="seccion-item hijos">
          <div class="seccion-title-container"><h3>Jóvenes</h3></div>
        </div>
      </div>
    </div>
  </div>
</div>
